#parents{
    margin: 0;
    padding: 0;
}
.navTab{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    background-color: rgb(232, 232, 232);
    height: 100%;
    padding: 15px 10px;
    
}
.navTab a{
    margin-left: 32px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 600;
}
.common{
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    margin-top: 50px;
    display: flex;
   flex-direction: column;
   align-items: center; 
   
}
.container{
   
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
.container input{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: large;
    font-weight: 500;
    border: 2px solid blue;
}
.btn{
   margin-top: 10px;
    background-color: rgb(30, 30, 247);
    border:none;
    padding: 10px 20px;
    color: #fff;
    border-radius:15px ;

}