#parents{
    margin: 0;
    padding: 0;
}
.navTab{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    background-color: rgb(210, 205, 205);
    height: 100%;
    padding: 15px 10px;
    
}
.navTab a{
    margin-left: 32px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 600;
}